
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    width: 100;
}

header{
    background-color: #81fe02;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-image: url(../img/space.jpg);
    min-height: 70rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#master{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info h1{
    font-size: 4em;
    color: #d7df91;
    font-weight: 800;
}
#info p {
    font-size: 2em;
    color: #d7df91;
    font-weight: 400;
    max-width: 90%;
    margin-bottom: 3rem;
}
#btn{
    width: 23rem;
    height: 5rem;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #d7df91;
    color: black;
    border-radius: 30px;
    margin-bottom: 5rem;
}
#bottles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "gin ron baileys aperol"
    "fernet whisky smirnoff absolut"
    ;
    background-color: black;
}

.producto{
    border: 2px solid #311D31;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#info{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}
.producto-nombre{
    color: #ACA9A6;
    width: 50%;
    font-size: 2em;
}
.producto-precio{
    color: #CC9E06;
    font-size: 3em;
    font-weight: 600;
}
.agregar{
    background-color: #81fe02;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
    height: 3em;
    width: 6em;
    font-weight: bold;
    border-radius: 5px;
}
.gin{
    grid-area: gin;
}
.ron{
    grid-area: ron;
}
.baileys{
    grid-area: baileys;
}
.aperol{
    grid-area: aperol;
}
.fernet{
    grid-area: fernet;
}
.whisky{
    grid-area: whisky;
}
.smirnoff{
    grid-area: smirnoff;
}
.absolut{
    grid-area: absolut;
}
